@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;600;700&display=swap');
.cart table thead{
    background-color: #E58211;
}
.cart table thead tr th{
    color: #ffffff;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.cart table tbody tr td{
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.cart table tbody tr td button{
    background-color: #E58211;
    color: #ffffff;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 5px 12px;
    border-radius: 8px;
}
.cart table tbody tr td i{
    cursor: pointer;
}
.cart .w-50{
    background-color: #E58211;
    display: block;
    border: none;
    margin: 15px auto;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 16px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.cart{
    padding-bottom: 100px;
}
